/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@700&display=swap');

/* Style the content */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  
}

h1 {
    text-decoration: underline;
    border-bottom-width: 3px;
   
  }
  

h2 {
  font-family: 'Kdam Thmor Pro', serif;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
  
}

main .aboutUS {
    background-color:rgb(182, 143, 92);
    padding: 20px; 
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

p {
    color:black;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  background-color: transparent; 
  
}


.back-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

.back-btn {
    color: white;
    background-color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
  }
  .back-btn:hover {
    background : brown;
  }


/* Media query for small screens */
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
  }
  
 
}
