/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@700&display=swap');

/* Apply default styles to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Style the main section */
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('images/B-ground.jpeg') no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  outline: none;
}

/* Style the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgb(182, 143, 92);
  font-size: 40px;
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  /*font-family: 'Cormorant', serif;*/
  font-family: 'Playfair Display', serif;

  margin-bottom: 6px;
  text-align: right;
  color: black;
}

header .social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

header .social-icons a {
  color: #fff;
  margin-left: 10px;
}
.social-icons i {
  font-size: 25px;
  transition: color 0.3s ease;
}

.social-icons a:hover i {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 5%;
}
.navigation {
  display: flex;
  columns: 3;
  column-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  flex: 2;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding-top: 13%;
}

.navigation a {
  display: block;
  margin-bottom: 10px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: 50;
  font-family: 'Playfair Display', serif;
  transition: all 0.3s ease;
  position: relative;
}

.navigation a:hover {
  color: black;
  background-color: burlywood;
  text-decoration: underline;
  transform: translateZ(0);
  font-size: 60px;
}

.navigation a:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(182, 143, 92);
  transform-origin: bottom right;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
}

.navigation a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(182, 143, 92);
  transform-origin: bottom left;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
}

.navigation a:hover:before,
.navigation a:hover:after {
  display: block;
}

.navigation a:hover:before {
  animation: line-extend-top 0.3s forwards;
}

.navigation a:hover:after {
  animation: line-extend-bottom 0.3s forwards;
}

@keyframes line-extend-top {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes line-extend-bottom {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

.sub-navigation a {
  margin-bottom: 10px;
}

/* Style the content section */
.content {
  max-width: 650px;
  font-family: 'Playfair Display', serif;
  margin-left: auto;
  flex: 7;

  flex-direction: row;
  /*background-color: rgb(182, 143, 92);*/
  border-radius: 10px;
  align-items: right;
  flex-direction: row;
  justify-content: center;
  display: flex;
  border: 3px solid;
  height: max-content;
  width: max-content;
  margin-top: 15%;
}

.content .info h2 {
  color: black;
  font-family: 'Lora', serif;

  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 60px;
  text-shadow: 1px 1px 2px #fff;
  padding: 5%;
  background-color: burlywood;
}
.content .info h3 {
  font-size: 30px;
  font-family: 'Lora', serif;
}

.content .info h2 span {
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 200;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

footer p {
  margin: 0;
  letter-spacing: 1px;
}

/* Position the logo at the bottom of the header */
header .logo {
  font-size: 40px;
  position: absolute;
  margin-top: -0.8%;
  text-shadow: 1px 1px 2px #fff;
}

/* Style the Google Maps location */
#contact-us iframe {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 10px; /* add border radius to round the corners */
  overflow: hidden;
  transition: all 0.3s ease;
}
#contact-us iframe:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#contact-us h1 {
  background-color: rgb(182, 143, 92);
  font-family: 'Playfair Display', serif;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
  color: #000000;
}
#contact-us {
  /* background-image: url('images/Bunaa.jpeg'); /* set a background image */
  background-size: cover;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.contact {
  background-color: rgb(182, 143, 92);

  background-size: 300px;
  background-repeat: repeat;
  width: 650px;
  height: 660px;
  margin: 60px auto;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.contact a {
  color: #fff; /* change the link color to white */
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px;
}

.contact a:hover {
  color: black;
}

.contact i {
  font-size: 26px;
  margin-right: 10px;
}

.contact h4 {
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact h2 {
  font-size: 25px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.B .bac-btn {
  display: inline-block;
  background-color:  rgb(182, 143, 92); /* Set the background color */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.B .bac-btn:hover {
  background-color: #060606; /* Change the background color on hover */
}
